/* styles.css */

.center-line {
  text-align: center; /* Center the line horizontally */
  
}
.center-line hr {   
  border: 0;
  height: 5px;
  background-color: black;
  margin-right: 350px;
  margin-top: 690px;
}
.center-line2 {
  text-align: center;
  
}
.center-line2 hr {
  border: 0;
  height: 5px;
  background-color: black;
  margin-right: 350px;
  margin-top: 410px;
}

.line {
  width: 50%; /* Set the width of the line */
}

.header {
  font-size: 2vw; /* Use relative units for font size */
  padding: 2vw;
  text-align: right;
  font-family: Georgia;
}
.link {
  color: #FF7A00; /* Fix the case of the property */
  text-decoration: none;
  margin-left: 1.5vw;
}

  .Name {
    position: absolute; /* Set the position to absolute */
    top: 50%; /* Set the distance from the top to 50% */
    left: 45%; /* Set the distance from the left to 50% */
    transform: translate(-100%, -10%); /* Use transform to center the element */
    font-size: 35px;
    font-family: 'Playfair Display', serif; /* Set the font family for the heading */
    
  }

  .UI { 
    position: absolute; /* Set the position to absolute */
    top: 62%; /* Set the distance from the top to 50% */
    left: 42%; /* Set the distance from the left to 50% */
    transform: translate(-65%, -15%); /* Use transform to center the element */
    font-size: 24px;
  }
  
  
  .About { 
    position: absolute; /* Set the position to absolute */
    top: 100%; /* Set the distance from the top to 50% */
    left: 30%; /* Set the distance from the left to 50% */
    transform: translate(-100%, -15%); /* Use transform to center the element */
    font-size: 24px;
    color:#FF7A00;
    font-family: 'Playfair Display', serif; /* Set the font family for the heading */
  }
  .AbM {
    position: absolute;
    top: 112%; /* Set the distance from the top to 50% */
    left: 80%; /* Set the distance from the left to 50% */
    transform: translate(-92%, -15%); /* Use transform to center the element */
    font-size: 24px;
    font-family: Georgia; /* Set the font for the paragraph */
    width: 60%;
  }
    
    .img { 
    margin-right: 200px;
    margin-top: 60px;
    }
    .img img {
        width: 26%;
    }
 
   